layout {
    focus-ring {
        inactive-color "`@background`"
        active-color "`@color4`"
    }
}

recent-windows {
    highlight {
        active-color "`@color4`"
        urgent-color "`@color1`"
    }
}